<section id="speakers mt-5">
  <h1 class='section-title text-center'>ponentes</h1>
  <div class='row'>
    <div class='col-10 offset-1 offset-sm-0 col-md-4 speaker'>
      <%= image_tag 'speakers/maru.png', class: 'img-fluid'%>
      <div class='speaker-first-name'>Marcela "Maru"</div>
      <div class='speaker-last-name'>Lango</div>
      <div class='speaker-twitter-handle'>@marulango</div>
      <div class='speaker-talk'>HTML + CSS (un poquito de js)</div>
    </div>
    <div class='col-10 offset-1 offset-sm-0 col-md-4 speaker'>
      <%= image_tag 'speakers/agustin.png', class: 'img-fluid'%>
      <div class='speaker-first-name'>Agustin</div>
      <div class='speaker-last-name'>Ramos</div>
      <div class='speaker-twitter-handle'>@machinesareus</div>
      <div class='speaker-talk'>Elixir</div>
    </div>
    <div class='col-10 offset-1 offset-sm-0 col-md-4 speaker'>
      <%= image_tag 'speakers/placeholder.png', class: 'img-fluid'%>
      <div class='speaker-first-name'>Coming</div>
      <div class='speaker-last-name'>Soon</div>
      <div class='speaker-twitter-handle'>@waitforit</div>
      <div class='speaker-talk'>Surprise</div>
    </div>
  </div>
  <div class='row'>
    <div class='col-10 offset-1 offset-sm-0 col-md-4 speaker'>
      <%= image_tag 'speakers/placeholder.png', class: 'img-fluid'%>
      <div class='speaker-first-name'>Coming</div>
      <div class='speaker-last-name'>Soon</div>
      <div class='speaker-twitter-handle'>@waitforit</div>
      <div class='speaker-talk'>Surprise</div>
    </div>
    <div class='col-10 offset-1 offset-sm-0 col-md-4 speaker'>
      <%= image_tag 'speakers/placeholder.png', class: 'img-fluid'%>
      <div class='speaker-first-name'>Coming</div>
      <div class='speaker-last-name'>Soon</div>
      <div class='speaker-twitter-handle'>@waitforit</div>
      <div class='speaker-talk'>Surprise</div>
    </div>
    <div class='col-10 offset-1 offset-sm-0 col-md-4 speaker'>
      <%= image_tag 'speakers/placeholder.png', class: 'img-fluid'%>
      <div class='speaker-first-name'>Coming</div>
      <div class='speaker-last-name'>Soon</div>
      <div class='speaker-twitter-handle'>@waitforit</div>
      <div class='speaker-talk'>Surprise</div>
    </div>
  </div>
</section>
