<section id="speakers" class='mt-5'>
  <h1 class='section-title text-center'>ponentes</h1>
  <div class='row'>
    <div class='col-10 col-sm-12 offset-1 offset-sm-0 col-md-4 speaker'>
      <%= image_tag 'speakers/daniel-zavala-avatar@2x.png', class: 'img-fluid'%>
      <div class='speaker-name'>Daniel Zavala</div>
      <div class='speaker-twitter-handle'><a href="https://twitter.com/siedrix" target="_blank">@siedrix</a></div>
      <div class='speaker-talk'>
        CTO</br>
        Common Sense People
      </div>
    </div>
    <div class='col-10 col-sm-12 offset-1 offset-sm-0 col-md-4 speaker'>
      <%= image_tag 'speakers/ana-castro-avatar@2x.png', class: 'img-fluid'%>
      <div class='speaker-name'>Ana Castro</div>
      <div class='speaker-twitter-handle'><a href="https://twitter.com/anymoto" target="_blank">@anymoto</a></div>
      <div class='speaker-talk'>
        Ingeniera de Software</br>
        Litmus
      </div>
    </div>
    <div class='col-10 col-sm-12 offset-1 offset-sm-0 col-md-4 speaker'>
      <%= image_tag 'speakers/marulango-avatar@2x.png', class: 'img-fluid'%>
      <div class='speaker-name'>Marcela "Maru" Lango</div>
      <div class='speaker-twitter-handle'><a href="https://twitter.com/marulango" target="_blank">@marulango</a></div>
      <div class='speaker-talk'>
        HTML + CSS</br>
        (y un poquito de JS)
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-10 col-sm-12 offset-1 offset-sm-0 col-md-4 speaker'>
      <%= image_tag 'speakers/agustin-ramos-avatar@2x.png', class: 'img-fluid'%>
      <div class='speaker-name'>Agustin Ramos</div>
      <div class='speaker-twitter-handle'><a href="https://twitter.com/machinesareus" target="_blank">@machinesareus</a></div>
      <div class='speaker-talk'>
        Ingeniero de Software</br>
        Bunsan
      </div>
    </div>
    <div class='col-10 col-sm-12 offset-1 offset-sm-0 col-md-4 speaker'>
      <%= image_tag 'speakers/jorge-gallegos-avatar@2x.png', class: 'img-fluid'%>
      <div class='speaker-name'>Jorge Gallegos</div>
      <div class='speaker-twitter-handle'><a href="https://twitter.com/kad" target="_blank">@kad</a></div>
      <div class='speaker-talk'>
        Ingeniero de plataforma</br>
        Swyft
      </div>
    </div>
    <div class='col-10 col-sm-12 offset-1 offset-sm-0 col-md-4 speaker'>
      <%= image_tag 'speakers/wendy-favela-avatar@2x.png', class: 'img-fluid'%>
      <div class='speaker-name'>Wendy Fabela</div>
      <div class='speaker-twitter-handle'><a href="https://twitter.com/ritalin_p" target="_blank">@ritalin_p</a></div>
      <div class='speaker-talk'>
        Devops</br>
        Mazing Studio
      </div>
    </div>
  </div>
</section>
